@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@400;800&display=swap');
/*font-family:'Poppins',snas-serif;*/

:root{
    font-family:'Poppins',snas-serif;
    --main-c1:#C1DCDC;
    --main-gray:#1E1E1E;
    --gap-big:50px;
    --gap-smail:32px;
}
body{
    max-width: 1280px;
}
.hd{
    /*border:1px solid red;*/
    display: flex;
    padding: var(--gap-big);
}
.menu{
    padding-left: var(--gap-big);
}
.menu a{
    font-weight: bold;
    color: gainsboro;
    padding: var(--gap-big) var(--gap-smail);
   
}
.menu1{
    position: relative;
    left: 350px;
}
.menu1 a{
    padding: var(--gap-big) var(--gap-smail);
}
/*.sec1{
    
}*/
.main{
    padding: var(--gap-big) var(--gap-smail);
    background-color: var(--main-c1);
    margin-left: var(--gap-big);
    margin-right: var(--gap-big);
    border-radius: 50px;
    height: 400px;
}
h2{
    font-weight: bold;
    font-size: 3rem;
   padding-bottom: var(--gap-smail);
}
strong{
    font-weight: bold;
    font-size: 2rem;
}
.search{
    padding-top: var(--gap-big);
}
input{
    border: 0 solid black;
    list-style: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    color: gainsboro;
    padding-left: 1rem;
}
input::placeholder{
    color: gainsboro;
}
.square{
    box-sizing: border-box;
    background-color: var(--main-gray);
    display: flex;
    position: relative;
    left: 600px;
    bottom:160px;
    width: 450px;
    height: 350px;
    border-radius: 50% 50% 0% 50%;
}
.img3{
    position: relative;
    bottom: 655px;
    left:400px;
}
.img2{
    position: relative;
    bottom: 800px;
    left: 300px;
}
.img1{
    position: relative;
    bottom: 950px;
    left: 1000px;
}

.main1{
    padding: calc(var(--gap-big)) var(--gap-smail);
}
h3{
    font-weight: bold;
    font-size: 2rem;
}
.main1 p{
    padding-top: var(--gap-big);
    color: gainsboro;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
